body{
  margin: 0;
  padding: 0;
}

.app-layout{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-group{
  display: flex;
  flex-direction: column;
}


.tool-tip{
  display: flex;
}

.i-pic{
  width: 20px;
  height: 20px;
}


.i-pic:hover{

  transform: translateY(-2px);
  
  transition: all ease 0.5s;
}

.chat-pic{
  width: 20px;
  height: 20px;
}

.chat-pic:hover{
  transform: translateY(-2px);
  
  transition: all ease 0.4s;
}